# Python
venv/
__pycache__/
*.pyc

# Environment
.env

# Spark
spark/checkpoints/

# Grafana DB
grafana.db

# Hadoop / local binaries
hadoop.dll
winutils.exe
ngrok.exe

# Spark
metastore_db/
spark-warehouse/

# IDE
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db